<h1><%= "#{@movie.title}" %></h1>

<pre>
  <h3>
    <%= "Created Year: #{@movie.creation_year}" %>
    <%= "Genre:        #{@movie.genre}" %>
  </h3>
  <% if @movie.actors.any? %>
    <ol>
      <div id=<%= "movie-#{@movie.id}-actors" %> >
        <% @movie.actors.each do |actor| %>
          <li><h3><pre><%= "Actor: #{actor.name}" %></pre></h3></li>
        <% end %>
      </div>
    </ol>
  <% end %>
</pre>
